# Node dependencies
node_modules
frontend/node_modules
backend/node_modules

# Build artifacts
dist
frontend/.next

# NPM logs
npm-debug.log*

# OS & Editor clutter
.DS_Store
.vscode

# Env & secrets
.env*
*.pem

# Git & Docker meta
.git
.gitignore
.dockerignore
Dockerfile
docker-compose.yml
